/* This is for Header & Footer styles */


/* Header */
.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
    width: 150px;
}

.header-container-category {
    padding: 20px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    position: relative;
    z-index: 1;
}

.header-category {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

a {
    color: white;
    text-decoration: none;
}

/* Footer */
.footer-container {
    background-color: #454545;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    line-height: 28px;
}

.footer-logo-text {
    font-family: "Shrikhand", cursive;
    font-size: 1.3rem;
    color: white;
    margin-bottom: 14px;
}

.footer-page {
    padding: 4px 0;
    color: white;
    text-decoration: none;
}

.footer-icon {
    margin-right: 10px;
}

.header-go-back-page-icon {
    color: black;
}

.fa-arrow-left {
    color: black;
}

.contact {
    color: white;
    text-decoration: none;
    cursor: pointer;
}